
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}




.skills-section {
  padding: 60px 10%;
  text-align: center;
}

.skills-section h1 {
  margin-bottom: 30px;
}


.skill-card {
  padding: 15px 25px;
  border-radius: 10px;
  background-color: #f4f4f4;
  color:black ;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
 
}

